DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/enotary
DATABASE_URL_SYNC=postgresql://postgres:postgres@localhost:5432/enotary
SECRET_KEY=change-me-in-production-use-openssl-rand-hex-32
DEBUG=false

# --- SMTP (Gmail) ---
# Generate an App Password at: https://myaccount.google.com/apppasswords
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=legaldoji0@gmail.com
SMTP_PASSWORD=avpi tibc zvld uvxb
SMTP_FROM_EMAIL=legaldoji0@gmail.com
SMTP_START_TLS=true
SMTP_USE_TLS=false

# --- Twilio (SMS OTP) ---
# Get credentials at: https://console.twilio.com
TWILIO_ACCOUNT_SID=AC0e6c8ab5a558199d956f7e9c3fb4ecbc
TWILIO_AUTH_TOKEN=8098da771420f53c862469ed784e6d8f
TWILIO_PHONE_NUMBER=+18148514249
